* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    padding: 5px;
}

h2 {
    color: purple;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: purple;
}